{% load static %}
{% load tracker_tags %}
{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <script>
    window.__WORKFLOW_DEFS__    = '{{ workflow_steps_context.all_definitions|jsonify_queryset|escapejs }}';
    window.__WORKFLOW_MAP__     = '{{ workflow_steps_context.steps_map|jsonify_stepsmap|escapejs }}';
    window.__WORKFLOW_CURRENT__ = '{{ workflow_steps_context.current_definition.id|default:"" }}';
  </script>

    <script id="updateWorkflowStepStatusUrl" type="application/json">
    {% url 'tracker:update_workflow_step_status' assessment_pk=0 step_pk=0 %}
  </script>

  <script src="{% static 'tracker/js/assessment_details.js' %}"></script>
{% endblock %}
