{% extends "tracker/base.html" %}
{% load static tz i18n tracker_tags %}

{% block title %}
  {% translate "Assessment Details" %} - #{{ assessment.id }} - {{ assessment.client.name }}
{% endblock %}

{% block extra_head %} {# Use extra_head for page-specific head elements #}
    {# If you had specific CSS or meta tags for this page, they would go here #}
    {# Example: <link rel="stylesheet" href="{% static 'tracker/css/assessment_detail_specific.css' %}"> #}
    {% include "tracker/partials/client_extra_head.html" %} {# Include shared head elements if needed #}
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="row">

    {# Sidebar Navigation #}
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
       {% include "tracker/partials/client_sidebar_nav.html" %} {# Include the sidebar navigation #}
    </nav>

    {# Main Content Area #}
    <main class="col-md-6 col-lg-7 ms-sm-auto px-md-4">
      {% include "tracker/partials/client_main_header.html" %}

      {# CHANGES BEGIN - Add wrapper div with data-visual-url #}
      <div id="workflow-visual-container" data-visual-url="{% url 'tracker:client_workflow_visual_partial' pk=assessment.id %}">
          {% include "tracker/partials/client_workflow_visual.html" %}
      </div>
      {# CHANGES END #}

      {% include "tracker/partials/client_scope_summary.html" %}

      {# CHANGES BEGIN - Add wrapper div with data-assessment-id #}
      <div id="workflow-checklist-wrapper" data-assessment-id="{{ assessment.id }}">
          {% include "tracker/partials/client_workflow_checklist.html" %}
      </div>
       {# CHANGES END #}

      {% include "tracker/partials/client_date_scheduling.html" %}
      {% include "tracker/partials/client_networks_card.html" %}
      {% include "tracker/partials/client_cloud_services_card.html" %}
      {% include "tracker/partials/client_external_ips_card.html" %}
      {% include "tracker/partials/client_ce_plus_sample_card.html" %}
      {% include "tracker/partials/client_downloads_card.html" %}
      {% include "tracker/partials/client_assessment_scan_history_card.html" with tenable_scan_logs=tenable_scan_logs assessment=assessment %}
    </main>

    {# Right Sidebar Info Area #}
    <aside class="col-md-3 col-lg-3 order-md-first order-lg-last">
      {% include "tracker/partials/client_info_sidebar.html" %}
    </aside>

  </div>
</div>

{# Modals should typically be outside the main grid structure for positioning #}
{% include "tracker/partials/client_log_modal.html" %}

{% csrf_token %} {# Add CSRF token once, likely needed for AJAX POSTs from this page #}
{% endblock %}


{% block extra_js %} {# Use extra_js for page-specific scripts #}
    {# Load primary JS file for this view #}
    <script src="{% static 'tracker/js/assessment_details.js' %}"></script>

    {# Include shared extra JS if needed #}
    {% include "tracker/partials/client_extra_js.html" %}

    {# Add any minor, page-specific initialization script here if necessary #}
    <script>
        // console.log("Client Assessment Detail page specific JS loaded.");
        // Example: Initialize tooltips if needed
        // const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        // const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
{% endblock %}